In [19]:
from openpyxl import load_workbook
import pyodbc

In [20]:
#连接数据库
server = 'DESKTOP-DH171PS\SQLSERVERSHELDON'  # SQL Server服务器名称
database = 'DB_ORAPS'  # 数据库名称
username = 'sa'  # 数据库用户名
password = '0615..jsp.'  # 数据库密码

In [21]:
#定义dept类来接收
class Dept(object):
    id=''
    deptName=''
    address=''
    def __init__(self, data):
        self.id = data.get('id')
        self.name = data.get('deptName')
        self.age = data.get('address')

In [22]:
# excel=load_workbook("J:\\培训期文件\\Excel函数实操(jsp实操版).xlsx",data_only=True)
# # for sheet in excel.worksheets:
# #     print(sheet.title)
#
# activeSheet=excel.worksheets[3]
# # for row in activeSheet.iter_rows(min_row=1):
# #     for cell in row:
# #         print(cell.value)
# print(activeSheet["F10"].value)#data_only=False时 =IF($C10>=60,"及格了","不及格")
# print(activeSheet["F10"].value)#data_only=true 及格了

In [23]:
excel=load_workbook("J:\\tempDocument\\员工表格.xlsx",data_only=True)
sheet=excel.worksheets[1]
dict={}
deptList=[]
varialeName = []
for row in sheet.iter_rows(min_row=1,max_row=1):
    for cell in row:
        varialeName.append(cell.value)
for row in sheet.iter_rows(min_row=2):
    i=0
    for cell in row:
        dict[varialeName[i]]=cell.value
    dept=Dept(dict)
    deptList.append(dept)
with pyodbc.connect(
    'DRIVER={SQL Server};SERVER=' + server + ';DATABASE=' + database + ';UID=' + username + ';PWD=' + password) as conn:
    cursor=conn.cursor()
    sql="insert into t_dept(id,deptName,address) values(?,?,?)"
    for dept in deptList:
        cursor.execute(sql,dept.id,dept.deptName,dept.address)
    cursor.close()

DataError: ('22018', "[22018] [Microsoft][ODBC SQL Server Driver][SQL Server]在将 nvarchar 值 '东京' 转换成数据类型 int 时失败。 (245) (SQLExecDirectW)")